.bg {
    width: 100%;
    background-size: 100%;
    padding-top: 170px;
    padding-bottom: 300px;
    background: linear-gradient(to bottom right, #FFFFFF 0%, transparent 90%),url(/Assets//img/svg/raduedited.PNG) no-repeat  bottom;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1,153,109 , 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .custom-toggler.navbar-toggler {
    border-color: #01996D;
  } 
  h2{
    font-size: 30px;
    color: #01996D;
  }
  h1{
    font-size: 25px;
  }
  .success{
    background: #245852;
    width: 100%;
  }
  a,p{
    font-size: 15px;
  }
  .colored{
    font-size: 130px;
  }
  .moved{
    bottom: 23px;
    left: 46px;
    font-size: 20px;
  }
  .video{
    width: 90%;
    height: 90%;
  }